
<div class="navbar">

    <div class="navbar-left-section">
        <div class="navbar-logo">
            <span> W </span>
        </div>

        <div class="navbar-links">
            <ul>
                <li> <img class="icon-small" src="assets/icons/notification.svg" alt=""> </li>
                <li> <img class="icon-small" src="assets/icons/group.svg" alt=""> </li>
            </ul>
        </div>
    </div>

    <div class="navbar-right-section navbar-links">
        <ul>
            <li> <img class="icon-small" src="assets/icons/plus.svg" alt=""> </li>
            <li> <img class="icon-small" src="assets/icons/user.svg" alt=""> </li>
        </ul>
    </div>

    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

</div>
