.loginbox {
    width: 320px;
    height: 420px;
    background: gray;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
    opacity: 80%;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

// .loginbox .submit-container {
//     width: 100%;
//     text-align: center;
// }

.loginbox button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

.loginbox button[disabled=""]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover {
    color: #ffc107;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.w3-lobster {
    font-family: Apple Chancery, cursive;
}

.logo {
    width: 100%;
    text-align: center;
    p {
        font-size: 50px;
    }
}

.element-container {
    margin-top: 15px;
}
