<!-- <p>login works!</p>

<button (click)="login()"> login </button>
<button (click)="signUp()"> sign up </button> -->







<!-- <div class="loginbox">

    <div class="w3-container w3-lobster logo">
        <p class="w3-xxlarge">Weekday</p>
    </div>

    <form>
        <p> Username </p>
        <input type="text" name="" placeholder="Enter Username">
        <p> Password </p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="Submit" name="" value="Login">
        <a href="#"> Lost your password </a>
        <a href="#"> Don't have an account? </a>
    </form>
</div> -->
