
<app-dialog [params]="dialogComponentParam">

    <p> Please enter a valid <b> Username </b> and <b> Password </b> </p>
    <br>
    <p-footer>
        <button type="button" class="ui-button-success" pButton icon="pi pi-check" (click)="onToggleDialog()" label="Okay"></button>
    </p-footer>

</app-dialog>


<div class="loginbox">

    <div class="w3-container w3-lobster logo">
        <p class="w3-xxlarge">Weekday</p>
    </div>

    <form [formGroup]="form_formGroup" (ngSubmit)="form_onSubmitForm()">

        <app-input-tag-form-control [control]="this.form_formGroup.get('username')" label="username"></app-input-tag-form-control>

        <div class="element-container">
            <app-input-tag-form-control [control]="this.form_formGroup.get('password')" label="password"></app-input-tag-form-control>
        </div>

        <div class="element-container">
            <button type="submit"> Login </button>
        </div>

        <div class="missing-creadentials-container">
            <a> Lost your password </a>
            <a (click)="onSignUp()"> Don't have an account? </a>
        </div>

    </form>

</div>
