@import "../../../../styles.scss";

.page-container-content {
    height: 100%;
    background-color: transparent;
    // background-color: lightblue;
}

.page-container-background {

    background-size: cover;
    // background-position: center;
    // font-family: sans-serif;
    padding: 10px;

    // height: map-get($map: $pageStructure, $key: page-content-height);;
}

.logged-in-background {
    background: white;
}

.logged-out-background {
    background: url('../../../../assets/login_background.jpeg');
}

.height-without-navbar {
    height: 100%;
}

.height-with-navbar {
    height: map-get($map: $pageStructure, $key: page-content-height);;
}
