
$colors: (
    primary: #007ad9,
    secondary: lightgray
);

$fontsize: (
    title-size: 15px,
    section-title-size: 12px,
    content-size: 10px
);

$pageStructure: (
    navbar-height: 5%,
    page-content-height: 95%
);

html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
    font-family: sans-serif;
}
