<br>

<div class="level-1-controls">

    <div class="project-name">
        <h1 *ngIf="selectedWall"> {{ selectedWall.title }} </h1>
    </div>

    <div class="wall-controls">
        <div class="navbar-links">
            <ul>
                <li> <img class="icon-small" src="assets/icons/history.svg" alt=""> </li>
                <!-- <li> <img class="icon-small" src="assets/icons/notification.svg" alt=""> </li> -->
                <!-- <li> <img class="icon-small" src="assets/icons/group.svg" alt=""> </li> -->
            </ul>
        </div>
    </div>

</div>

<br>

<div class="project-description">
    <p *ngIf="selectedWall"> {{ selectedWall.description }} </p>
</div>

<br>

<div class="level-2-controls">
    <div class="navbar-links">
        <ul>
            <li (click)="onDisplaySideMenu()"> <img class="icon-small" src="assets/icons/menu.svg" alt=""> </li>
            <li>
                <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Search/Filter Wall">
                    <button pButton type="button" label="Search"></button>
                </div>
            </li>
            <li> <img class="icon-small" src="assets/icons/filter-results-button.svg" alt=""> </li>
        </ul>
    </div>
</div>

<br>

<app-task-bundle *ngFor="let item of tasks" [taskBundle]="item"></app-task-bundle>


<p-sidebar [(visible)]="display">

    <h1> Walls </h1>

    <ul>
        <li *ngFor="let item of walls"> {{ item.title }} </li>
    </ul>
</p-sidebar>
