input, label {
    display: block;
}

.input-container label {
    width: 100%;
    text-transform: capitalize;
}

.input-container input {
    height: 40px;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.error-message {
    color: #ffc107;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 5px;
    font-size: 13px;
}

