
<div class="input-container">
    <!-- <label [for]="params.formControlName"> {{ params.label }} </label> -->
    <label> {{ label }} </label>
    <input [type]="type" [formControl]="control" [placeholder]="placeholder" />
</div>

<ng-container *ngIf="control.errors">
    <div *ngIf="control.errors.required" class="error-message">
        * Name is required.
    </div>

    <div *ngIf="control.errors.minlength" class="error-message">
        * Name must be at least {{ control.errors.minlength.requiredLength }} characters long.
    </div>
</ng-container>
